# Postgres
POSTGRES_USER=rebook
POSTGRES_PASSWORD=rebook
POSTGRES_DB=rebook

# pgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin

# Backend
SECRET_KEY=password
DATABASE_URL=postgresql://rebook:rebook@db:5432/rebook
